[submodule "icabbage/IXWebSocket"]
	path = icabbage/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket.git
[submodule "icabbage/iPlug2"]
	path = icabbage/iPlug2
	url = https://github.com/iPlug2/iPlug2.git
[submodule "icabbage/choc"]
	path = icabbage/choc
	url = https://github.com/Tracktion/choc.git
