.editMode {
	width: 120px;
	border-radius: 8px;
	border-color: #a5a5a595;
	border-style: dashed;
	stroke-width: 1;
	padding: 2px;
	margin: 1rem;
	background-color: rgba(34, 153, 238, 0);
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	position: absolute;
	touch-action: none;
	/* This makes things *much* easier */
	box-sizing: border-box;
	z-index: 9999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.playMode {
	width: 120px;
	border-radius: 0px;
	border-color: #a5a5a500;
	border-style: dashed;
	stroke-width: 0;
	padding: 2px;
	margin: 1rem;
	background-color: rgba(34, 153, 238, 0);
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	position: absolute;
	touch-action: none;
	/* This makes things *much* easier */
	box-sizing: border-box;
	z-index: 9999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#parent {
	display: flex;
	/* border: 1px solid #000; */
	height: 75vh;
	width: 100%;
	padding: 0px;
}

#LeftCol {
	flex-grow: 1;
	/* border: 1px solid red; */
	resize: horizontal;
	overflow: auto;
}

#RightCol {
	flex-grow: 0;
	/* border: 1px solid red; */
}

.form {
	height: 300px;
	width: 500px;
	border-radius: 2px;
	background-color: rgb(2, 149, 207);
	z-index: 0 !important;
}

.wrapper {
	visibility: hidden;
	position: absolute;
	width: 100px;
	border-radius: 5px;
	background: #fff;
	padding-top: 5px;
	box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.wrapper .menu {
	/* padding: 10px 12px; */
	margin: 0;
	padding: 5px;
	list-style-type: none;
}

.content .menuItem {
	list-style: none;
	font-size: 12px;
	height: 20px;
	display: flex;
	width: 100%;
	cursor: pointer;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 2px;
	padding: 0 2px 0 2px;
	color: #000;
}

.content .menuItem:hover {
	background: #f2f2f2;
}

.content .menuItem span {
	margin-left: 2px;
	font-size: 12px;
}

/*
	dark theme

   .property-panel {
	width: 200px;
	padding: 0;
	border: 1px solid #333; 
	border-radius: 3px;
	background-color: #1e1e1e; 
	overflow-y: auto;
	visibility: hidden;
	z-index: 9999;
}

.property {
	margin: 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #333; 
	padding: 0;
}

.property:last-child {
	border-bottom: none;
}

.property label {
	flex: 3;
	font-size: 12px; 
	margin: 0;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
	color: #d4d4d4; 
}

.property input {
	flex: 2;
	font-size: 12px; 
	padding: 5px;
	border: 1px solid #333; 
	border-radius: 3px;
	width: 100%;
	color: #d4d4d4; 
	background-color: #333; 
}

.property input[type="color"] {
	flex: 1;
	border: 1px solid #333; 
	font-size: 12px; 
	padding: 0px;
	width: 100%;
} */

.property-panel {
	width: 200px;
	padding: 0;
	border: 1px solid #cfcfcf; /* Adjust border color */
	border-radius: 3px;
	background-color: #ffffff; /* Adjust background color */
	overflow-y: auto;
	visibility: hidden;
	z-index: 9999;
}

.property {
	margin: 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #cfcfcf; /* Adjust border color */
	padding: 0;
}

.property:last-child {
	border-bottom: none;
}

.property label {
	flex: 3;
	font-size: 12px; /* Adjust font size */
	margin: 0;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
	color: #333333; /* Adjust label color */
}

.property input {
	flex: 2;
	font-size: 12px; /* Adjust font size */
	padding: 5px;
	border: 1px solid #cfcfcf; /* Adjust border color */
	border-radius: 3px;
	width: 100%;
	color: #333333; /* Adjust input color */
	background-color: #f0f0f0; /* Adjust input background color */
}

.property input[type="color"] {
	flex: 1;
	border: 1px solid #cfcfcf; /* Adjust border color */
	font-size: 12px; /* Adjust font size */
	padding: 0px;
	width: 100%;
}